<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <!-- 스프링 시큐리티를 사용할 경우 기본적으로 POST 방식의 데이터 전송에는 CSRF 토큰 값이 필요하므로 해당 값들을 조회함. -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

            calculateToalPrice();

            $("#count").change( function(){
                calculateToalPrice();
            });
        });



        /* 현재 주문할 수량과 상품 한 개당 가격을 곱해서 결제 금액을 구해주는 함수 */
        function calculateToalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price*count;
            $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    Swal.fire({
                        text: "장바구니에 저장되었습니다.",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        button: {
                            text: '확인',
                            closeModal: true
                        }
                    }).then(() => {
                        location.href = '/cart';
                    });
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        Swal.fire({
                            text: "로그인이 필요합니다",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'OK',
                            cancelButtonText: 'CANCLE',
                            button: {
                                text: '확인',
                                closeModal: true
                            }
                        }).then(() => {
                            window.location.href = '/members/login';
                        });
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        html,
        body {
            height: 100%;
            background: #ffffff;
        }
        .wd50{
            height:auto;
            width:50%;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <input type="hidden" id="itemId" th:value="${item.id}">

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5" th:object="${item}">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="${item.itemImgDtoList[0].imgUrl}" th:alt="${item.itemName}"></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder" th:text="${item.itemName}">Shop item template</h1>
                    <div class="fs-5 mb-5">
                        <input type="hidden" th:value="${item.price}" id="price" name="price">
                        <span class="text-decoration-none" th:text="${item.price}"></span>원
                    </div>
                    <hr class="my-4">
                    <div class="container">
                        <h6>총 상품 금액</h6>
                        <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                    </div>
                    <br>
                    <div class="input-group fs-5 mb-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">주문 수량</span>
                        </div>
                        <input class="form-control text-center me-3" id="count" name="count" type="number" value="1" min="1" style="max-width: 5rem" />
                    </div>
                    <div class="d-flex">
                        <div th:if="${item.itemSellStatus == T(toy.project.constant.ItemSellStatus).SELL}" class="text-right">
                            <button type="button" class="btn btn-outline-dark" onclick="addCart()"><i class="bi-cart-fill me-1"></i>장바구니 담기</button>
                            <button type="button" class="btn btn-outline-dark" onclick="order()">주문하기</button>
                        </div>
                        <div th:unless="${item.itemSellStatus == T(toy.project.constant.ItemSellStatus).SELL}" class="text-right">
                            <button type="button" class="btn btn-danger btn-lg">품절</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5">
        <hr class="my-4">
        <div class="container">
            <p class="lead" id="description" style="text-align: center" th:text="${item.itemDetail}">Lorem ipsum dolor sit amet consectetur adipisicing?</p>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                <img class="card-img-top mb-5 mb-md-0" style="width: 310px" th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}">
            </div>
        </div>
    </section>
</div>
</html>
