<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default_layout}">
<head>
    <style>
      .container {
        max-width: 560px;
      }
      .field-error {
        border-color: #dc3545;
        color: #dc3545;
      }
    </style>
  <title>회원 가입</title>
</head>
<div layout:fragment="content">
  <div class="container">
      <div class="py-5 text-center">
        <h2>회원 가입</h2>
      </div>
      <h4 class="mb-3">회원 정보 입력</h4>
      <form th:action th:object="${memberFromDto}" method="post">
          <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
              전체 오류 메세지
            </p>
          </div>
          <div>
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" th:errorclass="field-error"
                   placeholder="이름을 입력해주세요.">
            <div class="field-error" th:errors="*{name}"></div>
          </div>
          <div>
            <label th:for="emailId">EMAILL ID</label>
            <input type="text" th:field="*{email}" class="form-control" th:errorclass="field-error"
                   placeholder="이메일을 입력해주세요.">
            <div class="field-error" th:errors="*{email}"></div>
          </div>
          <div>
            <label th:for="password">PASSWORD</label>
            <input type="text" th:field="*{password}" class="form-control" th:errorclass="field-error"
                   placeholder="비밀번호을 입력해주세요.">
            <div class="field-error" th:errors="*{password}"></div>
          </div>
          <div>
            <label th:for="adress">ADDRESS</label>
            <input type="text" th:field="*{address}" class="form-control" th:errorclass="field-error"
                   placeholder="주소를 입력해주세요.">
            <div class="field-error" th:errors="*{address}"></div>
          </div>
          <hr class="my-4">
          <div class="row">
            <div class="col">
              <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
              <button class="w-100 btn btn-secondary btn-lg"
                      onclick="location.href='items.html'"
                      th:onclick="|location.href='@{/}'|"
                      type="button">취소</button>
            </div>
          </div>
      </form>
    </div>
</div>
</html>