<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/default_layout}">
<head>
  <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <style>
          .container {
            max-width: 560px;
          }
          .fieldError {
            border-color: #dc3545;
            color: #dc3545;
          }
        </style>
    </th:block>
    <th:block layout:fragment="script">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript">
             var isCertification = false;
             var pwCK = false;

            function sendNumber(){
                let blank = $('#mail').val();
                if (blank === '') {
                    $("#mail_number").css("display","none");
                    alert("이메일을 입력하셔아 합니다.");
                }else {
                    $("#mail_number").css("display","block");
                    $('#sendBtn')
                    $.ajax({
                        url: "/mail",
                        type: "post",
                        crossDomain: true,
                        headers: {'Access-Control-Allow-Origin': 'http://The web site allowed to access'},
                        dataType: "json",
                        data: {"mail": $("#mail").val()},
                        success: function (data) {
                            alert("인증 번호 발송");
                            $("#confirm").attr("value", data);
                            isCertification = false;
                        },
                        error: function (request, status, error) {
                            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        }
                    });
                }

            }


             function confirmNumber() {
                 let number1 = $("#number").val();
                 let number2 = $("#confirm").val();

                 const $resultMsg = $('#mail-check-warn');

                 if (number1 === undefined || number1 === null || number1 === '') {
                     alert("인증 번호를 입력해주세요.");
                 }
                 if (number1 === number2 && number1 !== null && number1 !== '') {
                     $resultMsg.html("인증 성공");
                     $resultMsg.css('color', 'blue');
                     isCertification = true
                 } else {
                     $resultMsg.html("인증 번호 불일치");
                     $resultMsg.css('color', 'red');
                     isCertification = false;
                 }

             }

             function pwCheck() {
                 if ($('#password').val() === $('#passwordConfirm').val()) {
                     $('#password_check').text('비밀번호가 일치합니다.').css('color', 'green')
                     pwCK = true;
                 } else {
                     $('#password_check').text('비밀번호가 일치하지 않습니다.').css('color', 'red')
                     pwCK = false;
                 }
             }

        </script>
        <script th:inline="javascript">
            $(document).ready(function(){
                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });

            function submitCheck() {
                if(isCertification === false) {
                    alert("메일 인증을 진행해주세요.");
                    return false;
                }
                if(pwCK === false) {
                    alert("비밀번호를 다시 확인해주세요.");
                    return false;
                } else {
                    return true;
                }
            }
        </script>
        <script th:inline="javascript">
            var loginIdDuplicate = () => {
              var loginId = document.getElementById("loginId").value;
              var checkResult = document.getElementById("id-dup-result");
                $.ajax({
                    type: "post",
                    url: "/members/check/id",
                    dataType: "text",
                    data: {
                        "loginId": loginId
                    },
                    success: function (result) {
                        if (result === "ok") {
                            checkResult.innerHTML = "사용 가능한 아이디 입니다.";
                            checkResult.style.color = "green";

                        } else {
                            checkResult.innerHTML = "이미 사용중인 아이디 입니다.";
                            checkResult.style.color = "red";
                        }
                    },
                    error: function () {
                        alert("ajax 실패");

                    }
                });
            }
        </script>
    </th:block>
  <title>회원 가입</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <div class="py-5 text-center">
      <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form th:action th:object="${memberFormDto}" method="post" onsubmit="return submitCheck();">
        <div>
          <label th:for="name">NAME</label>
          <input type="text" th:field="*{name}" class="form-control mt-2 mb-2" th:errorclass="field-error" placeholder="이름을 입력해주세요.">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
        </div>
        <div>
            <label th:for="name">ID</label>
            <input type="text" th:field="*{loginId}" id="loginId" name="loginId" class="form-control mt-2 mb-2" th:errorclass="field-error" placeholder="이름을 입력해주세요.">
            <span id="id-dup-result"></span>
            <button type="button" class="btn btn-primary btn-sm mt-2 mb-2" id="idAuth" name="idAuth" onclick="loginIdDuplicate()">중복 확인</button>
            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="fieldError">Incorrect data</p>
        </div>
        <div>
          <label th:for="password">PASSWORD</label>
          <input type="text" th:field="*{password}" id="password" class="form-control mt-2 mb-2" oninput="pwCheck()" th:errorclass="field-error" placeholder="비밀번호을 입력해주세요.">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
        </div>
        <div>
            <input type="password" id="passwordConfirm" class="form-control mt-2 mb-2" oninput="pwCheck()" placeholder="비밀번호 확인">
            <span id="password_check"></span>
        </div>
        <div>
            <label th:for="email">EMAIL</label>
            <input type="email" th:field="*{email}" name="mail" id="mail" class="form-control mt-2 mb-2" th:errorclass="field-error" placeholder="이메일을 입력해주세요.">
            <p th:if="${#fields.hasErrors('email')}" id="email" th:errors="*{email}" class="fieldError">Incorrect data</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm mt-2 mb-2" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호 발송</button>
        </div>
        <div class="mt-2 mb-2" id="mail_number" name="mail_number" style="display: none">
            <input class="form-control" type="text" id="number" name="number" style="width: 250px; margin-top: -10px" placeholder="인증 번호를 입력해주세요.">
            <span id="emailValidAble"></span>
            <span id="emailNotValidAble"></span>
            <span id="mail-check-warn"></span>
            <button type="button" class="btn btn-primary btn-sm mt-2 mb-2" id="confirmBtn" name="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
            <input type="text" id="confirm" name="confirm" style="display: none" value="">
        </div>
        <div>
          <label th:for="adress">ADDRESS</label>
          <input type="text" th:field="*{address}" class="form-control mt-2 mb-2" th:errorclass="field-error" placeholder="주소를 입력해주세요.">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
          </div>
          <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">취소</button>
          </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
  </div>
</div>
</html>