<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer bg-dark fixed-bottom text-white"  th:fragment="footer">
<footer>
        <div class="container">
                <ul class="nav justify-content-center pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="navi-link px-2">Home</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">MyPage</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">FAQ</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">About</a></li>
                </ul>
        </div>
        <!-- SNS 링크 -->
        <ul class="nav justify-content-center">
            <li><a href="https://facebook.com/example"><i class="fab fa-facebook px-2 text-white"></i></a></li>
            <li><a href="https://twitter.com/example"><i class="fab fa-twitter px-2 text-white"></i></a></li>
            <li><a href="https://instagram.com/example"><i class="fab fa-instagram px-2 text-white"></i></a></li>
            <li><a href="https://pinterest.com/example"><i class="fab fa-pinterest px-2 text-white"></i></a></li>
        </ul>
</footer>
</div>
<!-- Font Awesome 아이콘 JS -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>