<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer bg-dark text-white">
        <div class="container">
                <ul class="nav justify-content-center pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="navi-link px-2">Home</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">MyPage</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">FAQ</a></li>
                    <li class="nav-item"><a href="#" class="navi-link px-2">About</a></li>
                </ul>
        </div>
        <!-- SNS 링크 -->
        <ul class="nav justify-content-center">
            <li><a href="https://facebook.com/example"><i class="fab fa-facebook px-2 text-white"></i></a></li>
            <li><a href="https://twitter.com/example"><i class="fab fa-twitter px-2 text-white"></i></a></li>
            <li><a href="https://instagram.com/example"><i class="fab fa-instagram px-2 text-white"></i></a></li>
            <li><a href="https://pinterest.com/example"><i class="fab fa-pinterest px-2 text-white"></i></a></li>
        </ul>
    </footer>
</div>
</html>