<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer py-5 bg-dark fixed-bottom"  th:fragment="footer">
    <div class="container text-white">
            <ul class="nav justify-content-center pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
            </ul>
                <!-- 연락처 정보 -->
                <div class="col-md-12 footer-section">
                    <h5>Contact Information</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt px-2"></i> 서울특별시 강남구 선릉로 627 </li>
                        <li><i class="fas fa-envelope px-2"></i> dlrudqls55@naver.com</li>
                        <li><i class="fas fa-phone px-2"></i> 010-9154-7021</li>
                    </ul>
                </div>
            <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
        <!-- SNS 링크 -->
        <ul class="nav justify-content-center">
            <li><a href="https://facebook.com/example"><i class="fab fa-facebook px-2 text-white"></i></a></li>
            <li><a href="https://twitter.com/example"><i class="fab fa-twitter px-2 text-white"></i></a></li>
            <li><a href="https://instagram.com/example"><i class="fab fa-instagram px-2 text-white"></i></a></li>
            <li><a href="https://pinterest.com/example"><i class="fab fa-pinterest px-2 text-white"></i></a></li>
        </ul>
    </div>
</div>
<!-- Font Awesome 아이콘 JS -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>