<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">갱이</a>
            <button class="navbar-toggler" type="button" id="dropdownMenuButtonDark" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-labelledby="dropdownMenuButtonDark">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SNS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ONLINE SHOP
                        </a>
                        <ul class="dropdown-menu text-dark">
                            <li><a class="dropdown-item" href="#">NEW ARRIVAL</a></li>
                            <li><a><hr class="dropdown-divider"></a></li>
                            <li><a class="dropdown-item" href="#">OUTER</a></li>
                            <li><a class="dropdown-item" href="#">TOP</a></li>
                            <li><a class="dropdown-item" href="#">BOTTOM</a></li>
                            <li><a class="dropdown-item" href="#">A/C</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            COMMUNITY
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/board/notice}">NOTICE</a></li>
                            <li><a class="dropdown-item" th:href="@{/board/review}">REVIEW</a></li>
                            <li><a class="dropdown-item" th:href="@{/board/qna}">Q&A</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>