html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}


li {
    list-style:none;
}

/* header */

.dropdown-menu{
    opacity: 0.7;
}


/* footer */
.footer {
    padding: 15px 0;
}

.navi-link:link {
    color: white;
    text-decoration: none;
}
.navi-link:visited {
    color: white;
    text-decoration: none;
}

.navi-link:active {
    color: white;
    text-decoration: none;
}
