<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .flex-container {
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .container {
            justify-content: center;
        }

        .card {
            flex: 0 0 calc(25% - 1rem);
            margin: 0.5rem;
            width: 15rem;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="flex-container">
        <div th:each="item, status: ${items.getContent()}">
            <div class="card-body">
                    <a th:href="'/item/' +${item.id}" class="card text-center mb-3">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemName}" height="300">
                        <div class="card-body">
                            <h5 class="card-title">[[${item.itemName}]]</h5>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <p><strong>[[${item.price}]]원</strong></p>
                        </div>
                    </a>
            </div>
         </div>
    </div>
</div>

</div>